.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact-us>div:nth-child(1){
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-us>div:nth-child(1)>div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*XX律师事务所样式*/
.contact-us>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){
    margin: 20px;
    font-size: 20px;
    font-family: 微软雅黑, serif;
    color: rgb(126, 124, 122);


}
/*信息大盒子*/
.contact-us>div:nth-child(1)>div:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    color: rgb(142, 142, 141);
    font-family: 微软雅黑, serif;
    line-height: 290%;
    font-size: 12px;


}
.contact-us>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    width: 200px;
    height: 20px;

}
.contact-us>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    width: 200px;
    height: 20px;

}
.contact-us>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
    width: 200px;
    height: 20px;

}
.contact-us>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(4){
    width: 200px;
    height: 20px;

}
.contact-us>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(5){
    width: 200px;
    height: 20px;

}
.contact-us>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(6){
    width: 200px;
    height: 20px;
}
/*---------------------------------您的建议是我们较大的动力--------------------------------------------*/
/*大盒子*/
.contact-us>div:nth-child(2){
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*小盒子*/
.contact-us>div:nth-child(2)>div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*您的建议是我们较大的动力*/
.contact-us>div:nth-child(2)>div:nth-child(1)>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 微软雅黑, serif;
    color: rgb(67, 67, 67);
}
/*您有好的建议欢迎给我们提供*/
.contact-us>div:nth-child(2)>div:nth-child(1)>div:nth-child(2){
    font-family: 微软雅黑, serif;
    font-size: 16px;
    color: rgb(141, 141, 141);
}
/*信息盒子*/
.contact-us>div:nth-child(2)>div:nth-child(2){
    /*border: 1px solid black;*/
    width: 1500px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*小盒子*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1){
    width: 1050px;
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*姓名盒子*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(1){
    margin: 100px;
    width: 300px;
    /*border: 1px solid purple;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*您的姓名*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(1){
    font-size: 14px;
    color: #5a5a5a;
}
/*联系电话盒子*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(2){
    margin: 100px;
    width: 300px;
    /*border: 1px solid purple;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*您的姓名*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(2){
    font-size: 14px;
    color: #5a5a5a;
}
/*电子邮箱盒子*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(3){
    margin: 100px;
    width: 300px;
    /*border: 1px solid purple;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*您的姓名*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(3){
    font-size: 14px;
    color: #5a5a5a;
}
/*留言内容盒子*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(4){
    margin: 100px;
    width: 300px;
    /*border: 1px solid purple;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*您的姓名*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(4){
    font-size: 14px;
    color: #5a5a5a;
}
/*马上提交盒子*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(5){
        background-color: greenyellow;

}
/*马上提交*/
.contact-us>div:nth-child(2)>div:nth-child(2)>form:nth-child(1)>div:nth-child(5)>div:nth-child(1){
    color: white;

}